.hero {
    padding-top: 45px;
    padding-bottom: 90px;
  }
  .hero__heading {
    margin-top: 0;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
  }
  
  .overlay-box {
    padding: 15px;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.75);
  }
  @media (min-width: 786px) {
    .overlay-box {
      padding: 45px;
    }
  }
  
  .calculator__group {
    margin-bottom: 60px;
  }
  .calculator__group--range {
    margin-bottom: 90px;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media (min-width: 992px) {
    .calculator__group--range {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .calculator__heading {
    margin-top: 0;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
  }
  
  .range__amount {
    display: inline-block;
    float: right;
    color: #ffffff;
    font-weight: 700;
  }
  
  .noUi-horizontal {
    height: 5px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .noUi-horizontal .noUi-handle {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
    box-shadow: none;
    top: -5.5px;
    left: -7.5px;
    background-color: rebeccapurple;
  }
  .noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
    display: none;
  }
  
  .noUi-connect {
    background-color: rebeccapurple;
  }
  
  .noUi-value-horizontal {
    color: #ffffff;
    -webkit-transform: translate3d(-50%, 65%, 0);
            transform: translate3d(-50%, 65%, 0);
  }
  
  .hc-radio {
    height: 45px;
    position: relative;
    background-color: transparent;
  }
  .hc-radio__input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .hc-radio__label {
    display: block;
    margin-bottom: 0;
    position: absolute;
    z-index: 90;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
  }
  @media (min-width: 768px) {
    .hc-radio--center {
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media (min-width: 768px) {
    .hc-radio--right {
      float: right;
    }
  }
  .hc-radio--check {
    width: 150px;
  }
  .hc-radio--check .hc-radio__label {
    padding-left: 45px;
    line-height: 45px;
  }
  .hc-radio--check .hc-radio__label-mark {
    width: 25px;
    height: 25px;
    border: 1px solid #ffffff;
    position: absolute;
    top: 10px;
    left: 0;
  }
  .hc-radio--check .hc-radio__input:checked + .hc-radio__label .hc-radio__label-mark {
    background-color: rebeccapurple;
  }
  .hc-radio--check .hc-radio__input:checked + .hc-radio__label .hc-radio__label-mark:before {
    width: 16px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: 4px;
    content: '';
    background: transparent;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .hc-radio--button {
    margin-bottom: 15px;
  }
  .hc-radio--button .hc-radio__label {
    border: 2px solid #ffffff;
    text-align: center;
    line-height: 40px;
  }
  .hc-radio--button .hc-radio__input:checked + .hc-radio__label {
    color: #ffffff;
    background-color: rebeccapurple;
  }
  
  .payment-amount {
    padding: 15px;
    text-align: center;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.75);
  }
  .payment-amount__heading {
    margin-top: 0;
    font-size: 20px;
  }
  .payment-amount__output {
    display: block;
    font-size: 20px;
    font-weight: 700;
  }